body {
  background-image: url("./R.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.new {
  width: 350px; /* largeur*/
  margin: auto; /* bloc centré */
  border: 3px solid black;
  text-align: justify;
  padding: 75px;
  margin-bottom: 25px;
}

.button {
  text-align: justify;
}

.out {
  margin-left: auto;
  background-color: red;
  float: right;
  text-align: justify;
}
